@model AssistMe.Data.AFileInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6" >
        @using (Html.BeginForm("Create", "Document", FormMethod.Post, new { enctype = "multipart/form-data",id="DocAdd" }))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                @if (Model != null)
                { 
                    <legend>Edit document</legend>
                }
                else
                { 
                    <legend>Add/Create document</legend>
                }
                <div class="editor-label">
                    <label>File selection</label>
                </div>
                <div class="editor-field">
                    <input type="button" data-toggle="modal" data-target="#driveModal" value="Select from Google Drive" />
                    or
                    <input type="file" name="fileupload" id="fileupload"/>
                    @Html.HiddenFor(m => m.Id)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FolderName, null, new { @class = "typeahead", placeholder = "Folder name, Required" })<br />
                    @Html.ValidationMessageFor(model => model.FolderName)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DisplayName, null, new { @placeholder = "Display text, Required" })<br />
                    @Html.ValidationMessageFor(model => model.DisplayName)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Description, null, new { @placeholder = "Description" })
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DetailedInfo, null, new { @placeholder = "Additional info" })
                </div>

                <p>
                    <input type="submit" value="@(Model != null ? "Update" : "Add")" />
                </p>
            </fieldset>
        }
    </div>
    <div class="col-lg-6">
        <legend>
            @if (Model != null)
            {
                @Html.Raw("Preview");
            }
        </legend>
        @if (Model != null)
        {
            <img alt="No image" src="https://drive.google.com/thumbnail?id=@Model.Id" width="auto" height="auto" />
            <a id="downloadlink" href="@Url.Action("Download", "Document", new { id = Model.Id })" target="_blank">download</a>
        }
    </div>
</div>
@Html.ActionLink("Back", "Index", "Home")

<div class="modal fade" id="driveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h4>Files on google drive</h4>
            </div>
            <div class="modal-body">
                <div id="gfiles" style="height: auto; max-height: 300px; overflow: auto;">
                    <div id="contents">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#DocAdd').submit(function ()
    {
        var fileId = $('#Id').val();
        var file = $('#fileupload').val();
        if ((fileId != null && fileId.trim().length > 1) || (file != null && file.trim().length > 1))
            return true;
        else {
            alert('No file selected');
            return false;
        }
    });
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("FolderTag")",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {
                // constructs the suggestion engine
                var folders = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: $.map(response, function (folder) { return { value: folder }; })
                });
                // kicks off the loading/processing of `local` and `prefetch`
                folders.initialize();

                $('.typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'folders',
                    displayKey: 'value',
                    // `ttAdapter` wraps the suggestion engine in an adapter that
                    // is compatible with the typeahead jQuery plugin
                    source: folders.ttAdapter()
                });
            }
        });
    });

    $('#driveModal').on('show.bs.modal', function (data) {
        $.get("@Url.Action("ListGDrive")", function (response) {
            $('#gfiles').empty().append(response);
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
